<section class="two-fold">
    <div>
        {{{description}}}
    </div>
    <div>
        {{{description}}}
    </div>
    <div>
        {{{description}}}
    </div>
    {{!-- always be in pairs --}}
    <div>{{!-- stay gold --}}</div>
</section>