<div id="hero">
    <div id="logo__backer">{{!-- stay gold --}}</div>
    <div id="logo__border">{{!-- stay gold --}}</div>
    <div id="logo">
        {{> atoms-logo }}
    </div>

</div>{{!-- #hero --}}
