/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/


button,
.buttoned {
    display: flex; // guess and check
    margin-top: 1rem;
    margin-bottom: 1rem;
    // margin: 1rem revert; // this isn't right but im interested if something is possible?
}

// Gap refers to the class and the class a
button,
.buttoned a {
    width: auto;
    cursor: pointer;
    background: var(--emerald);
    border: none; // browser reset
    color: var(--stone);
    padding: 8px 16px;
    box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.2);
    text-decoration: none; // its obvious its a button

/*     
    this is good but everywhere?
    @media (min-width: 40rem) {
        font-size: 1.563rem; // h4 // I cant use an extend in a media query
        margin-left: -1rem; // this is something to do with moving away from the side of the page but it's messy
    } */
}

button:hover,
.buttoned a:hover {
    background: var(--moldavite);
    color: var(--onyx);
    box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.4); // variable this
}

a[href^="tel:"]:before {
    content: "\260E";
    margin-right: 0.5em;
}

// should this just be a right button?
.veil-button {
    z-index: 99;
    position: relative; // needed for the z index
    float: right;
    @media (min-width: 65rem) {
        display: none;
    }
}