/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

// 20px vertical rhythm

// each line-height is 3 steps up
h1,
.h1 {
  margin-top: 0;
  font-size: 3.052rem;
  line-height: 4.578rem; // *1.5 // should this be *1.25
}

h2,
.h2 {
  font-size: 2.441rem;
  line-height: 3.6615rem;
}

h3,
.h3 {
  font-size: 1.953rem;
  line-height: 2.9295rem;
}

h4,
.h4 {
  font-size: 1.563rem;
  line-height: 2.3445rem;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300; // light weight brandon grotesque
}

small,
.text_small {
  font-size: 0.8rem;
}