/*------------------------------------*\
	#LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
	color: var(--onyx);
	@media (prefers-color-scheme: dark) {
		color: var(--pearl);
	}

	&:hover, &:focus {
		color: var(--moss);

		@media (prefers-color-scheme: dark) {
			color: var(--emerald);
		}
	}

	// &:active {
	// 	color: $color-links-active;
	// }

	// &:visited {
	// 	color: $color-links-visited;
	// }
}

