@charset "UTF-8";
/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */
/*------------------------------------*\
     #COLORS
 \*------------------------------------*/
/**
 * Brand Colors
 * 1) Brand=specific colors
 */
/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 *    form validation, etc.
 */
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
/**
 * Font Sizing
 */
/**
 * Line Height
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
/**
 * Border widths
 */
/**
 * Border radius
 */
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Transition Speed
 */
/**
 * Transition Ease
 */
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Body Styles 
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
/* @mixin typographyBody() {
	font-size: $font-size-med;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%; // 1
} */
/**
 * XL Type Styles
 */
/* @mixin typographyBodyLarge() {
	font-size: $font-size-med-2;
	line-height: $line-height-large;
} */
/**
 * XL Heading Styles
 */
/* @mixin typographyHeadingXl() {
	font-size: $font-size-xl;
	font-weight: normal;
	line-height: 1.2;
} */
/**
 * Large Heading Styles
 */
/* @mixin typographyHeadingLarge() {
	font-size: $font-size-large;
	font-weight: normal;
	line-height: 1.2;
} */
/**
 * Medium 2 Heading Styles
 */
/* @mixin typographyHeadingMed2() {
	font-size: $font-size-med-2;
	font-weight: normal;
	line-height: 1.2;
} */
/**
 * Medium Heading Styles
 */
/* @mixin typographyHeadingMed() {
	font-size: $font-size-med;
	font-weight: normal;
	line-height: 1.2;
} */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */
/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/
/**
 * Body text and background colors
 */
/**
 * Highlight colors
 */
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  box-sizing: border-box;
}

/**
 * 1) Zero out margins and padding for elements
 */
html, body, div, object, iframe, h1, h2, h3, h4, .catalog, h5, .inventory, #veiled ul li, #overt ul, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

/**
 * 1) Set HTML5 elements to display: block
 */
header, footer, nav, section, article, figure {
  display: block;
}

/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * HTML base styles
 * 1) Set the html element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
html {
  min-height: 100vh;
  /* 1 */
}

/**
 * Body base styles
 * 1) Set the body element's height to at least 100% of the viewport.
 *    This is used to achieve a sticky footer
 */
/* body {
	// min-height: 100vh; /* 1 
	// font-family: $font-family-primary;
	// @include typographyBody();
	// background-color: $color-body-bg;
	// color: $color-body-text;
} */
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/**
 * Link base styles
 */
a {
  color: #0F0F0F;
}
a:hover, a:focus {
  color: #044338;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/**
 * 1) List base styles
 */
/**
 * Remove list styles from unordered and ordered lists
 */
ol, ul {
  list-style: none;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  margin-top: 0;
  font-size: 3.052rem;
  line-height: 5.96rem;
}

h2 {
  font-size: 2.441rem;
  line-height: 4.768rem;
}

h3 {
  font-size: 1.953rem;
  line-height: 3.815rem;
}

h4, .catalog {
  font-size: 1.563rem;
  line-height: 3.052rem;
}

h5, .inventory, #veiled ul li, #overt ul {
  font-size: 1.25rem;
  line-height: 2.441rem;
}

small, .text_small {
  font-size: 0.8rem;
}

h1, h2, h3, h4, .catalog, h5, .inventory, #veiled ul li, #overt ul, h6 {
  font-style: normal;
  font-weight: 300;
}

h5.in-paragraph, .in-paragraph.inventory, #veiled ul li.in-paragraph, #overt ul.in-paragraph {
  margin-bottom: 0;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * 1) Form element base styles
 */
/**
 * Input placeholder text base styles
 */
/* ::-webkit-input-placeholder {
    color: $color-form-placeholder;
}

::-moz-placeholder {
    color: $color-form-placeholder;
}

:-ms-input-placeholder {
    color: $color-form-placeholder;
} */
/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/**
 * Legend base styles
 */
legend {
  margin-bottom: 0.25rem;
}

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.25rem;
}

/**
 * Add font size 100% of form element and margin 0 to these elements
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  margin: 0;
}

/**
 * Text area base styles
 */
textarea {
  resize: none;
}

/**
 * Input  and text area base styles
 */
input,
textarea {
  width: 100%;
  padding: 0.5rem;
  /* 	&:focus {
          border-color: $color-form-border-focus;
      } */
}

/**
 * Remove webkit appearance styles from these elements
 */
input[type=text],
input[type=search],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
  display: block;
}

/**
 * Checkbox and radio button base styles
 */
input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: 0.3rem;
}

/**
 * Search input base styles
 */
input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

/**
 * Select
 * 1) Remove default styling
 */
select {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  /* 	&:focus {
          border-color: $color-form-border-focus;
      } */
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
button,
.buttoned {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button,
.buttoned a {
  width: auto;
  cursor: pointer;
  background: #6CBAAD;
  border: none;
  color: #414141;
  padding: 8px 16px;
  box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.2);
  text-decoration: none;
  /*     
      this is good but everywhere?
      @media (min-width: 40rem) {
          font-size: 1.563rem; // h4 // I cant use an extend in a media query
          margin-left: -1rem; // this is something to do with moving away from the side of the page but it's messy
      } */
}

button:hover,
.buttoned a:hover {
  background: #046c59;
  color: #0F0F0F;
  box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.4);
}

a[href^="tel:"]:before {
  content: "☎";
  margin-right: 0.5em;
}

.veil-button {
  z-index: 99;
  position: relative;
  float: right;
}
@media (min-width: 65rem) {
  .veil-button {
    display: none;
  }
}

/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/
/**
 * Main element
 */
[role=main] {
  display: block;
  padding: 1rem;
}

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
  max-width: 100%;
  height: auto;
}

.c-logo__img {
  display: block;
  max-width: 14rem;
}

svg {
  width: 100%;
  fill: #0F0F0F;
  max-width: 4rem;
  max-height: 3rem;
  margin: 1rem;
}
@media (min-width: 40rem) {
  svg {
    max-height: 2rem;
  }
}

a svg {
  fill: #6CBAAD;
}

a svg:hover {
  fill: #044338;
}

.pl-c-pattern__toggle-icon {
  margin: 0;
}

.team-heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-heads > div {
  flex: 0 1 4rem;
  margin: 0.5rem 1rem;
  text-align: center;
}
.team-heads > div > a > .gatsby-image-wrapper {
  border-radius: 50%;
  border: 2px #F8F8F8 solid;
  box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.2);
  margin-bottom: 1rem;
  max-height: 8rem;
}
.team-heads > div > a > .gatsby-image-wrapper:hover {
  box-shadow: 3px 3px 5px 1px rgba(15, 15, 15, 0.5);
}

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
html {
  font-family: "brandon-grotesque", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Paragraph base styles
 */
p, .sofia {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.home-baselined {
  margin-top: 0;
}
@media (min-width: 40rem) {
  .home-baselined {
    margin-top: 2rem;
    line-height: 2.3rem;
  }
}

/**
 * Blockquote base styles
 */
blockquote {
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/**
 * Horizontal rule base styles
 */
hr {
  border: none;
  border-bottom: 2px solid #6CBAAD;
  margin: 1.25rem auto;
  width: 50vw;
  margin-right: 50vw;
}

/**
 * Selection styles
 */
::-moz-selection,
::selection {
  color: #6CBAAD;
}

/**
 * Code base styles
 */
code {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  line-height: 1.2;
  font-size: 0.85rem;
}

/**
 * Preformatted text base styles
 */
pre {
  font-size: 1rem;
  padding: 1rem;
  overflow-x: auto;
  /**
   * Remove border from code within preformatted text block
   */
}
pre code {
  border: 0;
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*=language-],
pre[class*=language-] {
  font-family: monospace !important;
}

.vigilant {
  background: #EA8700;
  padding: 0.5rem 1rem;
  width: max-content;
}

#contact > h4, #contact > .catalog {
  background: #6CBAAD;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

#overt ul {
  display: none;
  padding-left: 0;
  justify-content: space-around;
  list-style: none;
}
@media (min-width: 65rem) {
  #overt ul {
    display: flex;
  }
}
#overt ul li {
  gap: 1rem;
  text-align: center;
}

#veiled {
  position: absolute;
  width: 100%;
  margin-top: -1rem;
  z-index: 99;
  background: #6CBAAD;
  transition: all 1s;
  /*
      why am I hiding something already hidden?
      @media (min-width: 60rem) {
          display: none;
      } */
}
#veiled ul {
  list-style: none;
  padding: 1rem;
}
#veiled ul li {
  margin-bottom: 1rem;
}

/* almost entirley sure this should be the same in or out
.two-fold {
    .catalog {
        // this is to do with stacking on smaller screens
        margin-top: 0;
        margin-bottom: 0;
    }
}
 */
/* .catalog is h3 list .inventory is h4 list
that could be a lot clearer */
.catalog {
  list-style: none;
  padding-left: 0;
  color: #414141;
}
.catalog li {
  margin-bottom: 1rem;
}

.inventory {
  margin: 0;
}
.inventory li {
  margin-bottom: 1rem;
}

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Table
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/**
 * Table header cell
 */
th {
  text-align: left;
}

/**
 * Table row
 */
tr {
  vertical-align: top;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 *
 * 1) This caps the width of text passages
 *    to achieve a comfortable line length
 */
.l-linelength-container {
  max-width: 36rem;
}

/*------------------------------------*\
    #GRID
\*------------------------------------*/
.two-fold {
  max-width: 66rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.two-fold > * {
  flex: 1 1 21rem;
}

@supports (gap: 2em) {
  .two-fold {
    gap: 2rem;
  }
}
.single-fold {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.measured {
  max-width: 40rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 40rem) {
  .measured {
    margin-left: auto;
    margin-right: auto;
  }
}

#hero {
  display: grid;
  grid-template-columns: 0 1fr 0;
  margin-bottom: 1rem;
  overflow: hidden;
}
@media (min-width: 20rem) {
  #hero {
    grid-template-columns: 1fr 20rem 1fr;
  }
}
@media (min-width: 42rem) {
  #hero {
    grid-template-columns: 1fr 40rem 1fr;
  }
}
#hero #logo__backer {
  grid-row: 1;
  grid-column: 2;
  place-self: center;
  background: #F8F8F8;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  opacity: 0.5;
}
#hero #logo__border {
  grid-row: 1;
  grid-column: 2;
  place-self: center;
  border: 2px #F8F8F8 solid;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
}
#hero #logo {
  grid-row: 1;
  grid-column: 2;
  place-self: center;
  z-index: 1;
}
#hero #logo svg {
  fill: #044338;
  max-width: 6rem;
  max-height: 6rem;
}
#hero #logo svg:hover {
  fill: #046c59;
}
#hero .gatsby-image-wrapper {
  grid-row: 1;
  grid-column: 1/4;
  z-index: -1;
  min-height: 10rem;
  max-height: 20vh;
  opacity: 0.33;
  object-fit: cover;
  width: 100%;
}

#footer-social {
  border-top: 1rem solid #6CBAAD;
  background: #044338;
  color: #F8F8F8;
  padding: 1.953rem;
}
#footer-social a {
  color: #F8F8F8;
}
#footer-social a:hover {
  color: #6CBAAD;
}
#footer-social > h5, #overt #footer-social > ul, #veiled ul #footer-social > li, #footer-social > .inventory {
  text-align: center;
}
#footer-social ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}
#footer-social ul li {
  padding: 0.5rem;
}
#footer-social ul li a {
  display: flex;
}

.veiled__header a {
  display: block;
  margin-top: 2rem;
}
.veiled__header a svg {
  max-height: 5rem;
  max-width: 5rem;
  fill: #044338;
}
.veiled__header a svg:hover {
  fill: #046c59;
}

.close-button {
  margin-top: 0;
  background: #044338;
  color: #6CBAAD;
  border: none;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #VISIBILITY CLASSES
\*------------------------------------*/
/**
 * Is Hidden
 * 1) Completely remove from the flow and screen readers.
 */
.u-is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Is Visibly Hidden
 * 1) Completely remove from the flow but leave available to screen readers.
 */
.u-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Margin bottom none
 * 1) Force margin bottom of 0
 */
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

/**
 * Margin bottom small
 * 1) Force margin bottom of $spacing-small variable
 */
.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

/**
 * Margin bottom
 * 1) Force margin bottom of $spacing variable
 */
.u-margin-bottom {
  margin-bottom: 1rem !important;
}

/**
 * Margin bottom large
 * 1) Force margin bottom of $spacing-large variable
 */
.u-margin-bottom-large {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-large-to-xxl {
  margin-bottom: 2rem !important;
}
@media all and (min-width: 60em) {
  .u-margin-bottom-large-to-xxl {
    margin-bottom: 8rem !important;
  }
}

/**
 * Margin top none
 * 1) Force margin top of 0
 */
.u-margin-top-none {
  margin-top: 0 !important;
}

/**
 * Margin top small
 * 1) Force margin top of $spacing-small variable
 */
.u-margin-top-small {
  margin-top: 1rem !important;
}

/**
 * Margin top
 * 1) Force margin top of $spacing variable
 */
.u-margin-top {
  margin-top: 1rem !important;
}

/**
 * Margin top large
 * 1) Force margin top of $spacing-large variable
 */
.u-margin-top-large {
  margin-top: 2rem !important;
}

.u-margin-top-booking {
  margin-top: 28rem !important;
}

/**
 * Margin right none
 * 1) Force margin right of 0
 */
.u-margin-right-none {
  margin-right: 0 !important;
}

/**
 * Margin right small
 * 1) Force margin right of $spacing-small variable
 */
.u-margin-right-small {
  margin-right: 1rem !important;
}

/**
 * Margin right
 * 1) Force margin right of $spacing variable
 */
.u-margin-right {
  margin-right: 1rem !important;
}

/**
 * Margin right large
 * 1) Force margin right of $spacing-large variable
 */
.u-margin-right-large {
  margin-right: 2rem !important;
}

/**
 * Margin left none
 * 1) Force margin left of 0
 */
.u-margin-left-none {
  margin-left: 0 !important;
}

/**
 * Margin left small
 * 1) Force margin left of $spacing-small variable
 */
.u-margin-left-small {
  margin-left: 1rem !important;
}

/**
 * Margin left
 * 1) Force margin left of $spacing variable
 */
.u-margin-left {
  margin-left: 1rem !important;
}

/**
 * Margin left large
 * 1) Force margin left of $spacing-large variable
 */
.u-margin-left-large {
  margin-left: 2rem !important;
}

/**
 * Center display block contents
 */
.u-margin-center {
  margin: 0 auto !important;
}

/**
 * Padding none
 */
.u-padding-none {
  padding: 0 !important;
}

/**
 * Padding small
 */
.u-padding-small {
  padding: 1rem !important;
}

/**
 * Padding
 */
.u-padding {
  padding: 1rem !important;
}

/**
 * Padding large
 */
.u-padding-large {
  padding: 2rem !important;
}

/**
 * Padding top none
 */
.u-padding-top-none {
  padding-top: 0 !important;
}

/**
 * Padding top small
 */
.u-padding-top-small {
  padding-top: 1rem !important;
}

/**
 * Padding top
 */
.u-padding-top {
  padding-top: 1rem !important;
}

/**
 * Padding top large
 */
.u-padding-top-large {
  padding-top: 2rem !important;
}

/**
 * Padding bottom none
 */
.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

/**
 * Padding bottom small
 */
.u-padding-bottom-small {
  padding-bottom: 1rem !important;
}

/**
 * Padding bottom
 */
.u-padding-bottom {
  padding-bottom: 1rem !important;
}

/**
 * Padding bottom large
 */
.u-padding-bottom-large {
  padding-bottom: 2rem !important;
}

/**
 * Padding right none
 */
.u-padding-right-none {
  padding-right: 0 !important;
}

/**
 * Padding right small
 */
.u-padding-right-small {
  padding-right: 1rem !important;
}

/**
 * Padding right
 */
.u-padding-right {
  padding-right: 1rem !important;
}

/**
 * Padding right large
 */
.u-padding-right-large {
  padding-right: 2rem !important;
}

/**
 * Padding left none
 */
.u-padding-left-none {
  padding-left: 0 !important;
}

/**
 * Padding left small
 */
.u-padding-left-small {
  padding-left: 1rem !important;
}

/**
 * Padding left
 */
.u-padding-left {
  padding-left: 1rem !important;
}

/**
 * Padding left large
 */
.u-padding-left-large {
  padding-left: 2rem !important;
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */
