/* Error: Undefined variable.
 *    ,
 * 22 |     fill: $onyx;
 *    |           ^^^^^
 *    '
 *   source/css/scss/base/_media.scss 22:11  @import
 *   source/css/style.scss 30:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 22 \2502      fill: $onyx;\a    \2502            ^^^^^\a    \2575 \a   source/css/scss/base/_media.scss 22:11  @import\a   source/css/style.scss 30:9              root stylesheet";
}
