{{!-- maybe this just needs to be called closed header --}}
{{!-- kind of works with hero-logo but thats making things nested --}}
<header id="hero">
  <img src="{{ backerImg }}" class="gatsby-image-wrapper" />
  {{!-- <div id="logo__backer"> stay gold <div> --}}
  {{!-- <div id="logo__border"> stay gold </div> --}}
  <div id="logo">
    {{> molecules-hero-logo }}
  </div>
  {{!-- {{> molecules-logo }} --}}
</header>

<div class="veil-button">
  {{> molecules-button }}
</div>

<hr>

{{> molecules-primary-nav }}
{{> molecules-button }}

<hr>
