<footer>
  <section class="two-fold">
    {{> molecules-footer-hours }}
    {{> molecules-footer-contact }}
  </section>

  <section id="footer-social">
    <ul class="measured">
      <li>{{> molecules-hero-logo }}</li>
      <li>{{> molecules-hero-logo }}</li>
      <li>{{> molecules-hero-logo }}</li>
      <li>{{> molecules-hero-logo }}</li>
    </ul>

    <h5 className="h-center"><a href="/">{{ company.name }}</a></h5>
  </section>
</footer>