<footer>
    <section class="measured">
        {{> molecules-footer-hours }}
    </section>

    <hr />

    <section class="measured">
        {{> molecules-footer-contact }}
    </section>

    <section id="footer-social">
        <ul class="measured">
            <li>Icons</li>
        </ul>

        <h5 className="h-center"><a href="/">business name bars</a></h5>
    </section>
</footer>