{{# atoms-icon }}
<ul>
  <li>
    {{ icon }}
    {{!-- must be a way of doing this without an image --}}
    {{!-- I could just put the svg in the icons file but it's not elegant --}}
    {{!-- <img src="{{ iconPath }}" /> --}}
    <svg {{ svg }}></svg>
    {{!-- nope this still isn't it Im not sure about the way pf doing quotes }}
    {{!-- from inside a json doc I can't use bars to bring in an atom --}}
    {{!-- I cant even do a single path for this --}}
  </li>
</ul>
{{/ atoms-icon }}