{{!-- theres a problem with the paths that needs to be fixed for these --}}

<ul class="icon-grid">
    {{#each icons}}
    <li class="icon-grid__item">
        {{> atoms-icon icons }}
        <span class="icon-grid__label">{{ icon }}</span>
    </li>
    {{/each}}
</ul>