{{!-- these have to be square on input which I would like to fix --}}
{{!-- with the setup this kinda has to be in a flex from the start --}}

<div class="team-heads">
    <div>{{!-- this needs to be documented but I think its to do with gatsby --}}
        <a href="/">
            <img class="gatsby-image-wrapper" src="{{ team-head }}" alt="{{ company.name }}" />
        </a>
    </div>
</div>