{{{navToggle.buttonText}}}
<section id="contact">
{{!-- this now feels like a worse name --}}
    {{# footerNav }}
        <div><a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></div>
    {{/ footerNav }}
</section>