{{!-- this now feels like a worse name --}}
<section id="contact">
<h3>Contact</h3>
    {{# footerNav }}
        <h4>{{ label }} <a href="{{ url }}" class="c-footer-nav__link">{{ label }}</a></h4>
    {{/ footerNav }}
</section>